<ion-view view-title="Timing">
    <ion-content ng-controller="timingCtrl">
        <div class="padding" style="margin-top:2em" >
            <div class="row">
                <div class="col-66" style="text-align:right"><h3>start conversations from:</h3></div>
                <div class="col-33">
                    <label class="item item-input item-md-label" placeholder="(a new phrase)" highlight-color="dark" type="text"><input type="text"><span class="input-label assertive">(time)</span><!-- <div class="highlight highlight-balanced"></div> --></label>
                </div>
            </div>
            <div class="row">
                <div class="col-66" style="text-align:right"><h3>until:</h3></div>
                <div class="col-33">
                    <label class="item item-input item-md-label" placeholder="(a new phrase)" highlight-color="dark" type="text"><input type="text"><span class="input-label assertive">(time)</span><!-- <div class="highlight highlight-balanced"></div> --></label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
